/* ------------------- UNIVERSAL ------------------- */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  /* STOP SCROLL BAR FROM REPOSITIONING THE PAGE */
  overflow-y: scroll;
}

/* For mobile phones and tablet: */
[class*="col-"] {
  width: 100%;
  margin-top: 3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.all-images {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.page-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* ------------------- NAV BAR ------------------- */

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #161616;
  z-index: 2;
  filter: drop-shadow(0px 2px 3px #1f1f1f)
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

/* ------------------- MENU PAGE ------------------- */

.desktop-order {
  display: none;
}

.menu-container {
  z-index: 500;
  margin-left: 10%;
  margin-right: 10%;
}

.mobile-order-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1f1f1f;
  color: white;
  width: 100px;
  height: 100px;
  bottom: 40px;
  right:20px;
  border-radius: 50%;
  position: fixed;
  filter: drop-shadow(0px 0px 2px #1f1f1f);
}

.mobile-order-button h2 {
  margin-top: 13px;
}

.mobile-order-card {
  display: inline;
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
  height: 490px;
  width: 60%;
  background-color: #f5f5f2;
  filter: drop-shadow(0px 0px 2px #1f1f1f);
  top: 15%;
  border-radius: 6%;
}

.mobile-orders {
  margin-top: 1%;
  height: 380px;
}

.mobile-order-contents {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.mobile-item {
  float: left;
}

.mobile-price {
  float: right;
  margin-right: 10%;
}

.menu-section {
  margin-top: 30px;
}

.food-card {
  width: 100%;
  height: 290px;
  background-color: #f5f5f2;
  border-radius: 6%;
  margin-top: 20px;
}

.food-card img {
  border-radius: 6%;
  margin-top: 8px;
}

.food-card-contents {
  margin-left: 10%;
  margin-right: 10%;
}

.mobile-pay-button {
  background-color: #008CBA;
  border: 2px solid #008CBA;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 6%;
}

.add-to-order-button {
  background-color: #008CBA;
  border: 2px solid #008CBA;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 6%;
}

/* ------------------- ABOUT PAGE ------------------- */

.page-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-image {
  border-radius: 50%;
}

.about-text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.about-header {
  text-align: center;
}

.about-para {
  text-align: left;
}

.chef-container {
  margin-bottom: 80px;
}

/* ---- FOOTER ---- */

footer {
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  background-color: #161616;
  color: rgb(226, 226, 226);
  margin-top: 100px;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: rgb(226, 226, 190);
}

.footer-container {
  width: 80%;
  margin: 10px 10%;
}

.copyright {
  margin-top: 31px;
}

.author {
  margin-top: 31px;
}

.footer-contact {
  margin-top: 31px;
}

.container-wrap {
  margin-bottom: 120px;
}

/*!!!! DESKTOP SECTION STARTS HERE !!!!*/
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
    padding-top: 15px;
    /* border: 1px solid red; */
  }

  nav {
    position: fixed;
    top: 0;
  }

  .page-container {
    margin-top: 110px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* MENU PAGE */

  .mobile-order-button {
    display: none;
  }

  .mobile-order-card {
    display: none;
  }

  .desktop-order {
    position: fixed;
    display: inline;
    height: 400px;
    width: 250px;
    right: 10%;
    top: 25%;
    background-color: #f5f5f2;
    border-radius: 6%;
    filter: drop-shadow(0px 1px 2px #1f1f1f);
    overflow: hidden;
  }

  .desktop-order-contents {
    padding-left: 10px;
    padding-right: 10px;
  }

  .desktop-orders {
    margin-top: 1%;
    height: 280px;
  }

  .pay-button {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 6%;
  }

  .pay-button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
  }

  .pay-button a:hover {
    color: #008CBA;
  }

  .food-card {
    width: 310px;
    height: 310px;
    background-color: #f5f5f2;
    border-radius: 6%;
    margin-right: 10px;
  }

  .add-to-order-button:hover, .pay-button:hover {
    background-color: white;
    color: #008CBA;
  }

  .price {
    float: right;
    font-weight: bold;
  }

  .itemName {
    float: left;
  }

  /* ABOUT PAGE */

  .about-text {
    text-align: left;
    margin-left: 50px;
  }

  .all-images {
    width: 100%;
    height: auto;
  }

  .about-text {
    text-align: center;
    margin-top: 100px;
  }

  .about-header {
    text-align: left;
  }

  /* NAVIGATION */

  .burger {
    display: none;
  }

  /* FOOTER */
  footer {
    bottom: 0;
    width: 100%;
    height: 10rem;
    text-align: left;
    padding-bottom: 20px;
    background-color: #161616;
    color: rgb(226, 226, 226);
    margin-top: 100px;
  }

  footer a {
    text-decoration: none;
    color: rgb(226, 226, 190);
  }

  .footer-container {
    width: 80%;
    margin: 10px 10%;
  }

  .copyright {
    margin-top: 31px;
  }

  .contact-details {
    padding-top: 10px;
  }

  .contact-text {
    float: left;
    padding-right: 50px;
  }

  .contact-section {
    padding-top: 30px;
  }

  .container-wrap {
    margin-bottom: 495px;
  }

}
/*!!!! DESKTOP SECTION ENDS !!!!*/

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */


/* CODE BELOW IS FROM TUTORIALS AND W3 SCHOOLS */

/* This media query is thanks to Dev Ed. */
/* https://www.youtube.com/watch?v=gXkqy0b4M5g */
/*!!!! NAV BAR CODE !!!!*/
@media screen and (max-width: 768px){

  body {
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    z-index: 1;
  }
.nav-links li {
  opacity: 0;
}

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*!!!! NAV BAR SECTION ENDS !!!!*/

/* ----------- LOGIN FORM FROM W3 SCHOOLS ---------- */
/* https://www.w3schools.com/howto/howto_css_login_form.asp */

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container-login {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: left;
  padding-top: 16px;
}

span.signup {
  padding-left: 20px;

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* ---------- W3 SCHOOLS CONTACT FORM ----------- */

/* Style inputs with type="text" and textareas */
input[type=text], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/* -------------- GOOGLE MAPS --------------- */

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  margin-right: 1em;
  z-index: 0;
}
